## Data gathering

First step of this analysis will be stock prices data gathering from one or more sources.

First step of this analysis will be stock prices data gathering from one or more sources.

By now, only one source will be used: Yahoo! Finance.
More sources of data can be added later on, if additional data features from there would be considered to add useful information to the analysis.

Gatering data from Yahoo Finance

Target symbols:

In [1]:
ibm = 'IBM' 
aapl = 'AAPL'
amzn = 'AMZN'
googl = 'GOOGL'

In [2]:
mnemonics = [ibm, aapl, amzn, googl]

In [3]:
import pandas as pd
import datetime

In [4]:
import datetime

## Gathering data from Yahoo! Finance

Downloading data from Yahoo! Finance.

In [5]:
# yfinance is a Yahoo! Finance market data downloader,
# that allows to access Yahoo finance data after Yahoo
# has discontinued support for this API
import yfinance as yf

In [6]:
df_stocks = yf.download(mnemonics)

[*********************100%***********************]  4 of 4 completed

Iterating through the full dataframe

In [7]:
# iteration variable
i=0

#### ***IBM*** data:

In [8]:
df_ibm = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [9]:
df_ibm = df_ibm.droplevel(axis=1, level=1)

In [10]:
IBM_ticker = yf.Ticker(mnemonics[i])

In [11]:
ibm_actions = IBM_ticker.actions

In [12]:
ibm_div = ibm_actions['Dividends']

In [13]:
ibm_spl = ibm_actions['Stock Splits']

In [14]:
df_ibm = pd.concat([df_ibm, ibm_div, ibm_spl], axis=1)

In [15]:
df_ibm.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
1962-01-02,1.858243,7.626667,7.713333,7.626667,7.713333,390000,NaN,NaN
1962-01-03,1.874485,7.693333,7.693333,7.626667,7.626667,292500,NaN,NaN
1962-01-04,1.855805,7.616667,7.693333,7.613333,7.693333,262500,NaN,NaN
1962-01-05,1.819257,7.466667,7.606667,7.453333,7.606667,367500,NaN,NaN
1962-01-08,1.785148,7.326667,7.460000,7.266667,7.460000,547500,NaN,NaN

In [16]:
df_ibm.loc[df_ibm.first_valid_index()]

Adj Close            1.858243
Close                7.626667
High                 7.713333
Low                  7.626667
Open                 7.713333
Volume          390000.000000
Dividends                 NaN
Stock Splits              NaN
Name: 1962-01-02 00:00:00, dtype: float64

In [17]:
df_ibm = df_ibm.loc[df_ibm.first_valid_index():]

In [18]:
df_ibm.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
1962-01-02,1.858243,7.626667,7.713333,7.626667,7.713333,390000,NaN,NaN
1962-01-03,1.874485,7.693333,7.693333,7.626667,7.626667,292500,NaN,NaN
1962-01-04,1.855805,7.616667,7.693333,7.613333,7.693333,262500,NaN,NaN
1962-01-05,1.819257,7.466667,7.606667,7.453333,7.606667,367500,NaN,NaN
1962-01-08,1.785148,7.326667,7.460000,7.266667,7.460000,547500,NaN,NaN

In [19]:
i += 1

#### ***Apple Inc.*** data:

In [20]:
df_aapl = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [21]:
df_aapl = df_aapl.droplevel(axis=1, level=1)

In [22]:
AAPL_ticker = yf.Ticker(mnemonics[i])

In [23]:
aapl_actions = AAPL_ticker.actions

In [24]:
aapl_div = aapl_actions['Dividends']

In [25]:
aapl_spl = aapl_actions['Stock Splits']

In [26]:
df_aapl = pd.concat([df_aapl, aapl_div, aapl_spl], axis=1)

In [27]:
df_aapl.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [28]:
df_aapl.loc[df_aapl.first_valid_index()]

Adj Close       1.009219e-01
Close           1.283480e-01
High            1.289060e-01
Low             1.283480e-01
Open            1.283480e-01
Volume          4.690336e+08
Dividends                NaN
Stock Splits             NaN
Name: 1980-12-12 00:00:00, dtype: float64

In [29]:
df_aapl = df_aapl.loc[df_aapl.first_valid_index():]

In [30]:
df_aapl.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12,0.100922,0.128348,0.128906,0.128348,0.128348,469033600.0,NaN,NaN
1980-12-15,0.095657,0.121652,0.122210,0.121652,0.122210,175884800.0,NaN,NaN
1980-12-16,0.088636,0.112723,0.113281,0.112723,0.113281,105728000.0,NaN,NaN
1980-12-17,0.090830,0.115513,0.116071,0.115513,0.115513,86441600.0,NaN,NaN
1980-12-18,0.093463,0.118862,0.119420,0.118862,0.118862,73449600.0,NaN,NaN

In [31]:
i += 1

#### ***Amazon.com Inc.*** data:

In [32]:
df_amzn = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [33]:
df_amzn = df_amzn.droplevel(axis=1, level=1)

In [34]:
AMZN_ticker = yf.Ticker(mnemonics[i])

In [35]:
amzn_actions = AMZN_ticker.actions

In [36]:
amzn_div = amzn_actions['Dividends']

In [37]:
amzn_spl = amzn_actions['Stock Splits']

In [38]:
df_amzn = pd.concat([df_amzn, amzn_div, amzn_spl], axis=1)

In [39]:
df_amzn.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [40]:
df_amzn.loc[df_amzn.first_valid_index()]

Adj Close       1.958333e+00
Close           1.958333e+00
High            2.500000e+00
Low             1.927083e+00
Open            2.437500e+00
Volume          7.215600e+07
Dividends                NaN
Stock Splits             NaN
Name: 1997-05-15 00:00:00, dtype: float64

In [41]:
df_amzn = df_amzn.loc[df_amzn.first_valid_index():]

In [42]:
df_amzn.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
1997-05-15,1.958333,1.958333,2.500000,1.927083,2.437500,72156000.0,NaN,NaN
1997-05-16,1.729167,1.729167,1.979167,1.708333,1.968750,14700000.0,NaN,NaN
1997-05-19,1.708333,1.708333,1.770833,1.625000,1.760417,6106800.0,NaN,NaN
1997-05-20,1.635417,1.635417,1.750000,1.635417,1.729167,5467200.0,NaN,NaN
1997-05-21,1.427083,1.427083,1.645833,1.375000,1.635417,18853200.0,NaN,NaN

In [43]:
i += 1

#### ***Alphabet Inc.*** data:

In [44]:
df_googl = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [45]:
df_googl = df_googl.droplevel(axis=1, level=1)

In [46]:
GOOGL_ticker = yf.Ticker(mnemonics[i])

In [47]:
googl_actions = GOOGL_ticker.actions

In [48]:
googl_div = googl_actions['Dividends']

In [49]:
googl_spl = googl_actions['Stock Splits']

In [50]:
df_googl = pd.concat([df_googl, googl_div, googl_spl], axis=1)

In [51]:
df_googl.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [52]:
df_googl.loc[df_googl.first_valid_index()]

Adj Close       5.022022e+01
Close           5.022022e+01
High            5.208208e+01
Low             4.802803e+01
Open            5.005005e+01
Volume          4.465910e+07
Dividends                NaN
Stock Splits             NaN
Name: 2004-08-19 00:00:00, dtype: float64

In [53]:
df_googl = df_googl.loc[df_googl.first_valid_index():]

In [54]:
df_googl.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
2004-08-19,50.220219,50.220219,52.082081,48.028027,50.050049,44659096.0,NaN,NaN
2004-08-20,54.209209,54.209209,54.594597,50.300301,50.555557,22834343.0,NaN,NaN
2004-08-23,54.754753,54.754753,56.796799,54.579578,55.430431,18256126.0,NaN,NaN
2004-08-24,52.487488,52.487488,55.855858,51.836838,55.675674,15247337.0,NaN,NaN
2004-08-25,53.053055,53.053055,54.054054,51.991993,52.532532,9188602.0,NaN,NaN

Now we'll procede with exploratory data analysis and feature engineering