## Data gathering

First step of this analysis will be stock prices data gathering from one or more sources.

First step of this analysis will be stock prices data gathering from one or more sources.

By now, only one source will be used: Yahoo! Finance.
More sources of data can be added later on, if additional data features from there would be considered to add useful information to the analysis.

Gatering data from Yahoo Finance

Target symbols:

In [1]:
ibm = 'IBM' 
aapl = 'AAPL'
amzn = 'AMZN'
googl = 'GOOGL'

In [2]:
mnemonics = [ibm, aapl, amzn, googl]

In [3]:
import pandas as pd
import datetime

Setting dataset record start date and end date:
* start will be just set to 1st Genuary 1900, in order to retrieve the logest possible time series. A more proper time series data trimming would be conducted later in the analysis;
* end time will be today date.

In [3]:
import datetime

In [4]:
start = datetime.datetime(1900, 1, 1)
end = datetime.date.today()

## Gathering data from Yahoo! Finance

Downloading data from Yahoo! Finance.

In [4]:
# yfinance is a Yahoo! Finance market data downloader,
# that allows to access Yahoo finance data after Yahoo
# has discontinued support for this API
import yfinance as yf

In [5]:
df_stocks = yf.download(mnemonics)

[*********************100%***********************]  4 of 4 completed

Iterating through the full dataframe

In [6]:
# iteration variable
i=0

#### ***IBM*** data:

In [7]:
df_ibm = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [8]:
df_ibm = df_ibm.droplevel(axis=1, level=1)

In [9]:
IBM_ticker = yf.Ticker(mnemonics[i])

In [10]:
ibm_actions = IBM_ticker.actions

In [11]:
ibm_div = ibm_actions['Dividends']

In [12]:
ibm_spl = ibm_actions['Stock Splits']

In [13]:
df_ibm = pd.concat([df_ibm, ibm_div, ibm_spl], axis=1)

In [14]:
df_ibm.head()

,Adj Close,Close,High,Low,Open,Volume,Dividends,Stock Splits
Date,,,,,,,,
1962-01-02,1.858243,7.626667,7.713333,7.626667,7.713333,390000,NaN,NaN
1962-01-03,1.874485,7.693333,7.693333,7.626667,7.626667,292500,NaN,NaN
1962-01-04,1.855805,7.616667,7.693333,7.613333,7.693333,262500,NaN,NaN
1962-01-05,1.819257,7.466667,7.606667,7.453333,7.606667,367500,NaN,NaN
1962-01-08,1.785148,7.326667,7.460000,7.266667,7.460000,547500,NaN,NaN

In [15]:
df_ibm.loc[df_ibm.first_valid_index()]

Adj Close            1.858243
Close                7.626667
High                 7.713333
Low                  7.626667
Open                 7.713333
Volume          390000.000000
Dividends                 NaN
Stock Splits              NaN
Name: 1962-01-02 00:00:00, dtype: float64

In [16]:
df_ibm = df_ibm.loc[df_ibm.first_valid_index():]

In [17]:
i += 1

In [6]:
df_yf_ibm = yf.download(ibm, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

#### ***Apple Inc.*** data:

In [18]:
df_aapl = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [19]:
df_aapl = df_aapl.droplevel(axis=1, level=1)

In [20]:
AAPL_ticker = yf.Ticker(mnemonics[i])

In [21]:
aapl_actions = AAPL_ticker.actions

In [22]:
aapl_div = aapl_actions['Dividends']

In [23]:
aapl_spl = aapl_actions['Stock Splits']

In [24]:
df_aapl = pd.concat([df_aapl, aapl_div, aapl_spl], axis=1)

In [25]:
df_aapl.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [26]:
df_aapl.loc[df_aapl.first_valid_index()]

Adj Close       1.009219e-01
Close           1.283480e-01
High            1.289060e-01
Low             1.283480e-01
Open            1.283480e-01
Volume          4.690336e+08
Dividends                NaN
Stock Splits             NaN
Name: 1980-12-12 00:00:00, dtype: float64

In [27]:
df_aapl = df_aapl.loc[df_aapl.first_valid_index():]

In [28]:
i += 1

In [7]:
df_yf_aapl = yf.download(aapl, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

#### ***Amazon.com Inc.*** data:

In [29]:
df_amzn = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [30]:
df_amzn = df_amzn.droplevel(axis=1, level=1)

In [31]:
AMZN_ticker = yf.Ticker(mnemonics[i])

In [32]:
amzn_actions = AMZN_ticker.actions

In [33]:
amzn_div = amzn_actions['Dividends']

In [34]:
amzn_spl = amzn_actions['Stock Splits']

In [35]:
df_amzn = pd.concat([df_amzn, amzn_div, amzn_spl], axis=1)

In [36]:
df_amzn.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [37]:
df_amzn.loc[df_amzn.first_valid_index()]

Adj Close       1.958333e+00
Close           1.958333e+00
High            2.500000e+00
Low             1.927083e+00
Open            2.437500e+00
Volume          7.215600e+07
Dividends                NaN
Stock Splits             NaN
Name: 1997-05-15 00:00:00, dtype: float64

In [38]:
df_amzn = df_amzn.loc[df_amzn.first_valid_index():]

In [39]:
i += 1

In [8]:
df_yf_amzn = yf.download(amzn, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

#### ***Alphabet Inc.*** data:

In [40]:
df_googl = df_stocks.iloc[:, df_stocks.columns.get_level_values(1)==mnemonics[i]]

In [41]:
df_googl = df_googl.droplevel(axis=1, level=1)

In [42]:
GOOGL_ticker = yf.Ticker(mnemonics[i])

In [43]:
googl_actions = GOOGL_ticker.actions

In [44]:
googl_div = googl_actions['Dividends']

In [45]:
googl_spl = googl_actions['Stock Splits']

In [46]:
df_googl = pd.concat([df_googl, googl_div, googl_spl], axis=1)

In [47]:
df_googl.head()

            Adj Close  Close  High  Low  Open  Volume  Dividends  Stock Splits
Date
1962-01-02        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-03        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-04        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-05        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN
1962-01-08        NaN    NaN   NaN  NaN   NaN     NaN        NaN           NaN

In [48]:
df_googl.loc[df_googl.first_valid_index()]

Adj Close       5.022022e+01
Close           5.022022e+01
High            5.208208e+01
Low             4.802803e+01
Open            5.005005e+01
Volume          4.465910e+07
Dividends                NaN
Stock Splits             NaN
Name: 2004-08-19 00:00:00, dtype: float64

In [49]:
df_googl = df_googl.loc[df_googl.first_valid_index():]

In [9]:
df_yf_googl = yf.download(googl, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

# Renaming dataframes

By now, as said before, I'll use Yahoo! Finance as the sole source of data, so, i will simply rename the dataframes.

In [10]:
df_ibm = df_yf_ibm

In [11]:
df_aapl = df_yf_aapl

In [12]:
df_amzn = df_yf_amzn

In [13]:
df_googl = df_yf_googl